*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 1rem;
    font-size: 12px;
    
    /* height: 200px */
}
.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    /* text-transform: "uppercase", */
}
.nav li{
  color: #000000;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
.nav a{
    color: inherit;
    text-decoration: none;
}